<html>
<title>[TITLE]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="logo.ico" type="image/x-icon">
	
	<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top capitalize" ng-controller="navigationCtrl">
    <title>Crow PHP client</title>
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="crow.png" width="64px" height="64px" alt="crow">
           &nbsp;&nbsp;<b>CROW</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>


    	<body>

		<div class="col-md-6 col-lg-6 col-sm-6 offset-md-3 offset-lg-3 offset-sm-3">
		<br/><br/><br/>
		<h4><b>Login</b></h4>
		<form method="POST" class="form-group">
			<table class="table table-striped">
				<tr>
					<td>
						Email
					</td>
					<td>
						<input type="email" name="email" placeholder="abc@example.com" class="form-control">
					</td>
				</tr>
				<tr>
					<td>
						Password
					</td>
					<td>
						<input type="password" name="password" placeholder="password" class="form-control">
						<br/><br/>
						<p>If you forget the password, then the only way to recover it is by deleting the users.json file in your root directory.</p>
					</td>
				</tr>
			</table>

		<div class="text-right">
			<input type="submit" class="btn blue" value="next">
			<br/><br/>
		</form>
		</div>


		<br/><br/>
		</div>

		<div class="container bg-dark col-lg-12 col-md-12 col-sm-12">

        <div class="text-center center-block footer">
          <p>
           copyLeft <span class="copy-left">&copy;</span> <a href="https://github.com/naveen17797/crow" style="color: white;">Crow CMS</a>
          </p>
        </div>


	</body>
</html>
