<title>[TITLE]</title>
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top capitalize" ng-controller="navigationCtrl">
    <title>Crow PHP client</title>
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="crow.png" width="64px" height="64px" alt="crow">
           &nbsp;&nbsp;<b>CROW</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="col-md-8 col-lg-8 col-sm-8 offset-md-2 offset-sm-2 offset-lg-2">
    <br/><br/><br/><br/>
        <h3>Please enter your github access token </h3>
      	<br/><br/>
        <form method="POST">
      	<input type="text" name="access_token" placeholder="Enter the user access token" style="width: 100%;" class="form-control">
        <br/><br/>
        <div class="text-center"><input type="submit" value="Next" class="btn btn-primary">
        </form>
        </div>
        <br/><br/><br/><br/><br/><br/>
    </div>


<div class="container bg-dark col-lg-12 col-md-12 col-sm-12">

        <div class="text-center center-block footer">
         <p>
           copyLeft <span class="copy-left">&copy;</span> <a href="https://github.com/naveen17797/crow" style="color: white;">Crow CMS</a>
          </p>
        </div>

</div>